* {
	font-family: "Helvetica" ;
}
.grid-2 {
	display: grid;
	grid-template-columns: auto auto;
	gap: 10px;
}
.grid-3 {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px;
}
.grid-4 {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px;
}

.window-body {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: auto;
    background: white;
}
.window::before {
	content: "";
    background-color: #81818147;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.errors {
	color: #f44336;
}
.table {
	overflow: auto;
}
.table table {
  border-collapse: collapse;
  width: 100%;
}

.table table td, table th {
  border: 1px solid #ddd;
  padding: 5px;
}

.table table tr:nth-child(even){background-color: #f2f2f2;}

.table table tr:hover {background-color: #ddd;}

.table table th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #1c5c8b;
  color: white;
}
.card {
	border: 1px solid #d1d6d9;
	border-radius: 5px;
	padding: 10px;
}
textarea,
select,
input[type=password],
input[type=number],
input[type=text] {
	width: 100%;
	padding: 3px 5px;
	margin: 5px 0;
	box-sizing: border-box;
	border: 1px solid #a1a1a1;
	border-radius: 3px;
}
button {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 5px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

button:hover,
button:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

ul.menu {
  list-style-type: none;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  overflow: auto;
  display: block;
}

ul.menu li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

ul.menu li.active a {
  display: block;
  background-color: #1c5c8b;
  color: white;
}

ul.menu li a:hover:not(.active) {
  background-color: #555;
  color: white;
}